@media screen and (max-width: 550px) {
    #nav-menu-cont {
        max-width: 100%;
        height: auto;
        padding: 1%;
        flex-wrap: nowrap;
    }

    #main-logo {
        max-width: 95px;
        min-height: 120px;
        margin-left: 1%;
    }

    #nav-menu-list {
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 0;
        width: 75%;
    }

    #nav-menu-list ul {
        flex-wrap: nowrap;
        width: 5%;
        max-width: 100%;
    }

    #nav-menu-list ul li {
        margin: 4px;
        padding: 7px;
    }

    /*=========== main ===========*/

    #main-content-home-page  {
        flex-wrap: wrap-reverse;
    }

    #main-text-cont {
        width: 100%;
    }

    #main-text-cont p, h2 {
        text-align: center;
    }

    #main-content-flag-list  {
        width: 100%;
    }

    #flag-container {
        margin-top: 25px;
    }

    /*========== second-main =========*/

    #main-second-container {
        flex-wrap: wrap-reverse;
        height: auto;
    }

    #images-group {
        min-width: 95%;
        height: 50vh;
        margin: 0;
    }

    #text-group {
        padding: 0;
        height: auto;
        width: 100%;
        margin-bottom: 10px;
    }

}