@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#nav-menu-cont {
    background-color: rgb(2, 26, 97);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 90px;
    max-height: 100px;
    max-width: 100%;
    padding: 0 10% 0 10%;
}

#main-logo {
    align-items: center;
    min-width: 10%;
    max-width: 100px;
    max-height: auto;
    background-color: #fff;
    border-radius: 5px;
    transform: scale(.95);
    transition: .5s;
}

#main-logo:hover {
    transform: scale(1);
}

#main-logo img{
    width: 100%;
    height: 100%;
}

#nav-menu-list {
    display: flex;
    align-items: center;
    min-width: 50%;
    padding-bottom: 20px;
}

#nav-menu-list ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    list-style-type: none;
}

#nav-menu-list ul li {
    padding: 15px;
    transition: .1s;
    margin: 5px;
    border-radius: 5px;
}

#nav-menu-list ul li:hover{
    background-color: rgb(1, 29, 112);
}

#nav-menu-list ul a {
    font-family: 'Shippori Antique', sans-serif;
    color: rgb(251, 254, 255);
    text-decoration: none;
    transition: .05s ;
}
#nav-menu-list ul a:hover {
    border-bottom: 2px solid yellow;
}

/*=========== main ===========*/

main{
    background-image: linear-gradient(90deg, rgba(3,21,75,1) 0%, rgba(0,78,118,1) 0%);
}

#main-content-home-page {
    padding: 30px 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#main-text-cont {
    background-color: yellowgreen;
    height: 100vh;
    width: 50%;
}

#main-content-images {
    background-color: tomato;
    position: relative;
    display: flex;
    width: 50%;
    height: 100vh;
}

#images-group {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images-group-container {
    min-width: 30%;
    height: auto;
    border-radius: 5px;
}

#image1 {
    width: 50%;
    min-height: 50%;
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#image3 {
    width: 50%;
    min-height: 50%;
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#image2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    max-height: 50%;
}
